{% extends "base.html" %}
{% block title %}CICD{% endblock %}
{% block cicd %}active{% endblock %}
{% block content %}
<div class="container">
    <div class="card border-dark mb-3 mt-2">
        <h2 class="card-header">Continuous Integration and Deployment</h2>
        <div class="card-body">
            <h5 class="card-title">Introduction</h5>
            <p class="card-text">CI/CD is a method to frequently deliver apps to customers by introducing automation
                into the stages of app development. The main concepts attributed to CI/CD are continuous integration,
                continuous delivery, and continuous deployment. CI/CD is a solution to the problems integrating new code
                can cause for development and operations teams. CI/CD introduces ongoing automation and continuous
                monitoring throughout the lifecycle of apps, from integration and testing phases to delivery and
                deployment.
            </p>

            <p>
                Successful CI means new code changes to an app are regularly built, tested, and merged to a shared
                repository. It’s a solution to the problem of having too many branches of an app in development at once
                that might conflict with each other.
            </p>

            <p>
                Continuous deployment refer to automatically releasing a developer’s
                changes from the repository to production, where it is usable by customers. It addresses the problem of
                overloading operations teams with manual processes that slow down app delivery. It builds on the
                benefits of continuous delivery by automating the next stage in the pipeline.
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="card text-white bg-secondary mb-3" style="max-width: fit-content">
                <div class="card-header">GitHub Actions</div>
                <div class="card-body">
                    <p class="card-text">GitHub Actions is a continuous integration and continuous delivery (CI/CD)
                        platform that allows us to automate our build, test, and deployment pipeline. We can create
                        workflows that build and test every pull request to our repository, or deploy merged pull
                        requests to production.
                    </p>
                    <h6 class="card-title">Current Project Setup:</h6>
                    <p>Workflow yml files are available under .github/workflows</p>
                    <ul>
                        <li>
                            Development Workflow:
                            <p>
                                Whenever there is a pull request event to the master branch, following two jobs will be
                                triggered:
                            <ul>
                                <li>
                                    Run_Pytest <p>
                                    <ul>
                                        <li>
                                            Jobs run on the latest version of ubuntu linux runner
                                        </li>
                                        <li>
                                            Uses the v2 of the actions/checkout action
                                        </li>
                                        <li>
                                            Installs python version 3.8
                                        </li>
                                        <li>
                                            Executes the command python -m pip install --upgrade & pip
                                            pip install -r requirements.txt on the runner
                                        </li>
                                        <li>
                                            Executes the command pyest on the runner
                                        </li>
                                    </ul>
                                    </p>
                                </li>

                                <li>
                                    Deploy_Heroku <p>
                                    <ul>
                                        <li>
                                            This job will be triggered if Run_Pytest is successful
                                        </li>
                                        <li>
                                            Jobs run on the latest version of ubuntu linux runner
                                        </li>
                                        <li>
                                            Uses the v2 of the actions/checkout and v3.12.12 of the
                                            akhileshns/heroku-deploy action
                                        </li>
                                        <li>
                                            Uses heroku_api_key for authentication. This is found in heroku homepage
                                            account settings and should be added to
                                            Github repository under settings -> secrets.
                                        </li>
                                        <li>
                                            Uses heroku_email. E-mail that we use with heroku
                                        </li>
                                        <li>
                                            Uses heroku_app_name(pm42-project1-dev) for deploying
                                        </li>
                                    </ul>
                                    </p>
                                </li>
                            </ul>
                            </p>
                        </li>
                        <li>
                            Production Workflow:
                            <p>
                                Whenever there is a merge request or push event to the master branch, following three
                                jobs will be
                                triggered:
                            <ul>
                                <li>
                                    Runtest <p>
                                    <ul>
                                        <li>
                                            Jobs run on the latest version of ubuntu linux runner
                                        </li>
                                        <li>
                                            Uses the v2 of the actions/checkout action
                                        </li>
                                        <li>
                                            Installs python version 3.8
                                        </li>
                                        <li>
                                            Executes the command python -m pip install --upgrade & pip
                                            pip install -r requirements.txt on the runner
                                        </li>
                                        <li>
                                            Executes the command pyest on the runner
                                        </li>
                                    </ul>
                                    </p>
                                </li>

                                <li>
                                    Build-Container <p>
                                    <ul>
                                        <li>
                                            This job will run if runtest job is successful
                                        </li>
                                        <li>
                                            Jobs run on the latest version of ubuntu linux runner
                                        </li>
                                        <li>
                                            Uses the v2 of the actions/checkout
                                        </li>
                                        <li>
                                            Uses docker username and password from github secrets to login to Docker Hub
                                        </li>
                                        <li>
                                            Generates the tag and labels of docker images
                                        </li>
                                        <li>
                                            Builds and pushes the image to the repository
                                        </li>
                                    </ul>
                                    </p>
                                </li>
                                <li>
                                    Deploy <p>
                                    <ul>
                                        <li>
                                            This job will run if build-container job is successful
                                        </li>
                                        <li>
                                            Jobs run on the latest version of ubuntu linux runner
                                        </li>
                                        <li>
                                            Uses the v2 of the actions/checkout and v3.12.12 of the
                                            akhileshns/heroku-deploy action
                                        </li>
                                        <li>
                                            Uses heroku_api_key for authentication. This is found in heroku homepage
                                            account settings and should be added to
                                            GitHub repository under settings -> secrets.
                                        </li>
                                        <li>
                                            Uses heroku_email. E-mail that we use with heroku
                                        </li>
                                        <li>
                                            Uses heroku_app_name(pm42-project1-prd) for deploying
                                        </li>
                                        <li>
                                            Deploys using Dockerfile in project root
                                        </li>
                                    </ul>
                                    </p>
                                </li>
                            </ul>
                            </p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card bg-light mb-3" style="max-width: fit-content; max-height: fit-content">
                <div class="card-header text-dark">Code Review Process</div>
                <div class="card-body text-dark">
                    <p class="card-text">When we compare and pull request from branch to master, development workflow
                        job will be triggered and the changes will be deployed to the development server once pytest
                        check is completed.</p>
                    <p>This gives an opportunity to check if the new features or changes which we created are working as
                        intended and does not affect the existing working code.
                        By reviewing the changes in the development server, we can double-check our new code and once
                        everything works fine we can merge it to the master and deploy it to the production server.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card bg-dark text-white">
                <img class="card-img" src="{{ url_for('static', filename='images/devyml.png') }}" alt="Dev Workflow">
                <div class="card-footer">
                    <h5 class="card-title">Development Workflow</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card bg-light mb-3 mb-3" style="max-width: fit-content; max-height: fit-content">
                <div class="card-header text-dark">Production Deployment</div>
                <div class="card-body text-dark">
                    <p class="card-text">When we merge or push request to the master, production workflow
                        job will be triggered and the changes will be deployed to the production server once pytest
                        check is completed and container build is successful.</p>

                    <p>After the pytest job is successful, using the docker user-name and password maintained in the
                        GitHub repository secrets, docker metadata will be extracted like tags and labels for the docker
                        image maintained in the prod.yml file.</p>

                    <p>Github then use this information to build an image and
                        then pushes the image to the docker hub repository with the tag changing for every
                        push.
                    </p>

                    <p>
                        Finally the docker image built from the build-container job is used to deploy to the heroku
                        production app.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card bg-dark text-white">
                <img class="card-img" src="{{ url_for('static', filename='images/prdyml.png') }}" alt="Dev Workflow">
                <div class="card-footer">
                    <h5 class="card-title">Production Workflow</h5>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}