{% extends "base.html" %}
{% block title %}SOLID{% endblock %}
{% block solid %}active{% endblock %}
{% block content %}

<div class="container">
    <div class="card border-light mb-3 my-2">
        <h2 class="card-header">SOLID Principles </h2>
        <div class="card-body">
            <h5 class="card-title">Introduction</h5>
            <p class="card-text">The SOLID principles were introduced by Robert C. Martin and were later built
                upon by Michael Feathers.</p>

            <p class="card-text">Martin and Feathers' design principles encourage us to create <strong>more
                maintainable,
                understandable, and flexible software</strong>. Consequently, as our applications grow in size,
                we can reduce their complexity and save ourselves a lot of time.
            </p>
            <p>
                In this article, we will discuss the five concepts that makes up SOLID principles using
                my Calculator program.
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="card my-2" style="max-width: 950px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='images/solid/srp-left.png') }}" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Single Responsibility Principle</h5>
                            <p class="card-text">
                                A class should have one and only one reason to change, meaning that a class should have
                                only one job.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 my-2 mx-2">
            <div class="card bg-dark text-white">
                <img src="{{ url_for('static', filename='images/solid/srp-right.webp') }}" class="img-thumbnail"
                     alt="Image Overlay">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="card-img img-thumbnail"
                 src="{{ url_for('static', filename='images/solid/srp-calc-left.png') }}"
                 alt="Card image cap">
        </div>
        <div class="col-md-6">
            <div class="card mb-3 my-1">
                <div class="card-body">
                    <h5 class="card-title">Single Responsibility Principle in Calculator</h5>
                    <p class="card-text"> In calculator, each class handles its own responsibility.</p>
                    <p><strong>Addition</strong>
                        class handles the addition of two numbers and <strong>Multiplication</strong> class
                        handles the multiplication of two numbers.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img class="card-img img-thumbnail"
                 src="{{ url_for('static', filename='images/solid/srp-calc-right.png') }}"
                 alt="Card image cap">
        </div>
    </div>
</div>

<div class="container my-2">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img class="card-img" style="max-height: 10pc"
                     src="{{ url_for('static', filename='images/solid/solid-2.jpeg') }}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="card my-2" style="max-width: 950px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='images/solid/ocp-left.jpeg') }}" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Open Closed Principle</h5>
                            <p class="card-text">Objects or entities should be open for extension
                                but closed for modification.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 my-2 mx-2">
            <div class="card bg-dark text-white">
                <img src="{{ url_for('static', filename='images/solid/ocp-right.jpeg') }}" class="img-thumbnail"
                     alt="Image Overlay">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="card-img img-thumbnail"
                 src="{{ url_for('static', filename='images/solid/ocp-calc-left.png') }}"
                 alt="Card image cap">
        </div>
        <div class="col-md-6">
            <div class="card mb-3 my-1">
                <div class="card-body">
                    <h5 class="card-title">Open Closed Principle in Calculator</h5>
                    <p class="card-text"> Calculation class is closed for modification, but it is extended by
                        Division
                        class </p>
                    <p><strong>Division</strong>
                        class extends the Calculation class functionality to provide the results of the calculation.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img class="card-img img-thumbnail"
                 src="{{ url_for('static', filename='images/solid/ocp-calc-right.png') }}"
                 alt="Card image cap">
        </div>
    </div>
</div>

<div class="container my-2">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img class="card-img" style="max-height: 20pc"
                     src="{{ url_for('static', filename='images/solid/solid-4.jpeg') }}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="card my-2" style="max-width: 950px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='images/solid/lsp-left.webp') }}" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Liskov Substitution Principle</h5>
                            <p class="card-text">Every subclass or derived class should be substitutable for their
                                base
                                or parent class.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 my-2 mx-2">
            <div class="card bg-dark text-white">
                <img src="{{ url_for('static', filename='images/solid/lsp-right.png') }}" class="img-thumbnail"
                     alt="Image Overlay">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="card-img img-thumbnail"
                 src="{{ url_for('static', filename='images/solid/ocp-calc-left.png') }}"
                 alt="Card image cap">
        </div>
        <div class="col-md-6">
            <div class="card mb-3 my-1">
                <div class="card-body">
                    <h5 class="card-title">Liskov Substitution Principle in Calculator</h5>
                    <p class="card-text"><strong>Division</strong> class here is
                        inherited from <strong>Calculation</strong> class and it can readily substitute calculation
                        class as it implements the abstract method get_result() of the parent class.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img class="card-img img-thumbnail"
                 src="{{ url_for('static', filename='images/solid/ocp-calc-right.png') }}"
                 alt="Card image cap">
        </div>
    </div>
</div>
<div class="container my-2">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img class="card-img" style="max-height: 20pc"
                     src="{{ url_for('static', filename='images/solid/solid-5.jpeg') }}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="card my-2" style="max-width: 950px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='images/solid/isp-left.png') }}" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Interface Segregation Principle</h5>
                            <p class="card-text">A class should never be forced to implement an interface that it
                                does not use, or class shouldn’t be forced to depend on methods they do not use.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 my-2 mx-2">
            <div class="card bg-dark text-white">
                <img src="{{ url_for('static', filename='images/solid/isp-right.jpeg') }}" class="img-thumbnail"
                     alt="Image Overlay">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="card-img img-thumbnail"
                 src="{{ url_for('static', filename='images/solid/ocp-calc-left.png') }}"
                 alt="Card image cap">
        </div>
        <div class="col-md-6">
            <div class="card mb-3 my-1">
                <div class="card-body">
                    <h5 class="card-title">Interface Segregation Principle in Calculator</h5>
                    <p class="card-text"><strong>Calculation</strong> class contains only one abstract method
                        get_result() which is of use to all the derived classes as it defines the functionality
                        to retrieve the results of an operation</p>
                    <p> Apart from this abstract method, there are no other
                        abstract methods in Calculation class which forces the derived classes to implement it.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img class="card-img img-thumbnail"
                 src="{{ url_for('static', filename='images/solid/ocp-calc-right.png') }}"
                 alt="Card image cap">
        </div>
    </div>
</div>

<div class="container my-2">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img class="card-img" style="max-height: 20pc"
                     src="{{ url_for('static', filename='images/solid/solid-6.png') }}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="card my-2" style="max-width: 950px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='images/solid/dvp-left.png') }}" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Dependency Inversion Principle</h5>
                            <p class="card-text">Entities must depend on abstractions, not on concretions. It states
                                that the high-level module must not depend on the low-level module, but they should
                                depend on abstractions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 my-2 mx-2">
            <div class="card bg-dark text-white">
                <img src="{{ url_for('static', filename='images/solid/dvp-right.png') }}" class="img-thumbnail"
                     alt="Image Overlay">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="card-img img-thumbnail"
                 src="{{ url_for('static', filename='images/solid/ocp-calc-left.png') }}"
                 alt="Card image cap">
        </div>
        <div class="col-md-6">
            <div class="card mb-3 my-1">
                <div class="card-body">
                    <h5 class="card-title">Dependency Inversion Principle in Calculator</h5>
                    <p class="card-text"> Defining addition, subtraction, multiplication and division
                        as individual methods under Calculation class would have made all the calculations tightly
                        coupled with Calculator.</p>
                    <p>By creating each calculation as separate classes and making
                        them dependent on abstraction method from Calculation class removed the dependency on
                        low level module.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img class="card-img img-thumbnail"
                 src="{{ url_for('static', filename='images/solid/ocp-calc-right.png') }}"
                 alt="Card image cap">
        </div>
    </div>
</div>


{% endblock %}